#root {
}

.screen {
  height: 100vh;
}

.consul-container {
  max-width: 1440px;
}

.logo-placeholder {
  width: 181px;
}

.nav-item:not(:last-child)::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: grey;
  display: block;
  position: absolute;
  top: 11px;
  right: -44px;
}

.nav-item.active {
  color: white;
}

.nav-item-mobile.active {
  color: #f38e04;
}

.content {
  height: calc(100svh - 96px);
}

.filter-brightness-50 {
  filter: brightness(30%);
}

/* transitions */

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

.slowfade-enter {
  opacity: 0;
}
.slowfade-exit {
  opacity: 1;
}
.slowfade-enter-active {
  opacity: 1;
}
.slowfade-exit-active {
  opacity: 0;
}
.slowfade-enter-active,
.slowfade-exit-active {
  transition: opacity 3s;
}
